<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>BMBoard Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/admin/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/admin/css/login/login.css" rel="stylesheet">
    <script src="/admin/js/jquery/jquery.min.js"></script>
    <script src="/admin/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
	<div id="formHeader">
	    <div class="fadeIn first">
	      <div>Welcom to BM Admin</div>
	    </div>
    </div>
    

    <!-- Login Form -->
    <form method="POST" action="/admin/loginProcess">
      <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="email address">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		var resultMsg = "[[${loginFailMsg}]]";
		
		if (resultMsg != null && resultMsg != undefined && resultMsg != ""){
			alert(resultMsg);
			location.href="/";
		}
	});
</script>
</body>
</html>
