<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <script src="/js/jquery-3.1.0.js"></script>
    <script>
    	$(document).ready(function(){
    		var page = null;
    		$('.manage').on("click", function(){
    			var id = $(this).attr("id");
    			var url = "";
    			var param = null;
    			var data = null;
    			if(id == "userManage"){
    				url = "/admin/member/all/0"
    			}else if(id == "boardManage"){
    				
    			}else if(id == "postManage"){
    				
    			}
    			
    			param = {
   			    	  _csrf:$("#csrf").val()
   			    };
       			
       			$.ajax({
       			      url:url
       			    , async:true
       			    , type:'POST'
       			    , data: param
       			    , dataType:'json'
       			    , success:function(e) {
       			    	data = e;
       			    }
       			    , error:function(e) {
       			    	console.log(e);
       			    }
       			});
    		});
    		
   			$('#userManage').click();
    	});
    </script>
  </head>
  <body>
    <h1>WelCome to Board Page!!</h1> <hr>
    <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <form action="/admin/member/logout" method="get">
        <button id="logout" type="submit">로그아웃</button>
    </form>
    <div>
    	<div>
    		<span class="manage" id="userManage">사용자 관리</span>
    	</div>
    	<div>
    		<span class="manage" id="boardManage">게시판 관리</span>
   		</div>
   		<div>
    		<span class="manage" id="postManage">게시물 관리</span>
   		</div>
    </div>
    <br>
  </body>
</html>